* {
    margin: 0%;
    padding: 0%;
    text-align: center;
}
h1{
    background-color: blueviolet;
    height: 60px;
    width: 100%;
    text-align: center;
    border-color: blue;
    border-style: solid;
    font-style: italic;
    font-family: 'Times New Roman';
}
img{
    height: inherit;
}
.choice{
    height: 140px;
    width: 140px;
    border-radius: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
}
.choice:hover{
background-color: rgb(178, 3, 3);
cursor:pointer;


}
img{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;

}
.choices{
    display: flex;
    gap: 50px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.message-container{
    margin-top: 3rem;
    font-size: 20px;
   
}
#msg{
    background-color: rgb(4, 31, 79);
    color: rgb(16, 236, 218);
    display: inline-flex;
    padding: 10px;
    border-radius: 20%;
}